:root{
    --primaryColor: #e5f8f4;  
    --primariColor2:#c1e1da;
    --primariColor3:rgb(107, 105, 105);
    --fontColor: #111111;
    --spanColor: #bc46bf  ;
    --downloadFontColor:#bccacd;
}